# Optional, using SPEECH_KEY
SPEECH_KEY=<your-speech-service-apikey>
SPEECH_REGION=<your-speech-service-region>

# Autentication using Entra ID (comment SPEECH_KEY and fill in the values if using Entra ID)
# Custom subdomain endpoint (required for Entra ID). Get from Azure Portal > resource > Keys and Endpoint
SPEECH_ENDPOINT=<https://<your-ai-service>.cognitiveservices.azure.com>

# Azure Resource ID (required for WebSocket Entra ID auth without SDK)
# Get with: az cognitiveservices account show --name <name> --resource-group <rg> --query id -o tsv
SPEECH_RESOURCE_ID=/subscriptions/<your-subscription-id>/resourceGroups/<your-resource-group>/providers/Microsoft.CognitiveServices/accounts/<your-ai-service>

# PERSONAL VOICE
SPEAKER_PROFILE_ID=<personal_voice_id>
PROJECT_ID=<personal-voice-project>
CONSENT_ID=<personal-voice-consent-id>
PERSONAL_VOICE_ID=<personal-voice-id>
CONSENT_FILE_PATH=consentimiento.wav
VOICE_TALENT_NAME=<name-of-talent>
COMPANY_NAME=<your-company>