# Optional, using SPEECH_KEY
SPEECH_KEY=<your-speech-service-apikey>
# Autentication using Entra ID (uncomment and fill in the values if using Entra ID)
SPEECH_ENDPOINT=https://<your-ai-service>.cognitiveservices.azure.com
SPEECH_REGION=<your-speech-service-region>

SPEAKER_PROFILE_ID=personal_voice_id

PROJECT_ID=personal-voice-project-1
CONSENT_ID=personal-voice-consent-1
PERSONAL_VOICE_ID=personal-voice-1
CONSENT_FILE_PATH=consentimiento.wav
VOICE_TALENT_NAME=Name-of-talent
COMPANY_NAME=your-company